/*General styles*/

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #e2e3f0;
    --color-dark: #363949;
    --color-light: rgb(209, 211, 233);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --borade-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    outline: 0;
    box-sizing: border-box;
    appearance: none;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

.container {
    display: grid;
    grid-template-columns: 14rem auto 23rem;
    grid-gap: 1.8rem;
    width: 96%;
    margin: auto;
}

aside {
    height: 100vh;
}

.top {
    display: flex;
    margin-top: 1.4rem;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 0.8rem;
}

.logo img {
    width: 2rem;
    height: 2rem;
}

.tor {
    color: var(--color-danger);
}

.close {
    display: none;
}

.side-bar {
    margin-top: 3.1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 96vh;

}


.side-bar a {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--color-info-dark);
    font-weight: 500;
    height: 3.7rem;
    transition: all 0.3s;
    padding-left: 1.8rem;
}


aside h3 {
    font-weight: 500;
    font-size: 0.9rem;
}

.side-bar a span {
    font-size: 1.8rem;
}

.logout {
    margin-top: 1.4rem;
}

#nums {
    font-size: 0.8rem;
    border-radius: 20%;
    background-color: #ff7782;
    padding: 0.14rem 0.7rem;
    color: white;
}

#active {
    background: var(--color-light);
    color: var(--color-primary);
    border-left:0.4rem solid var(--color-primary);
    transform:none;
}


.side-bar a:hover {
    transform: translateX(1rem);
    color: var(--color-primary);
}

.main-section{
    padding-top:1.5rem;
}
.my-calendar{
    width:10rem;
    height:2rem;
    border-radius: 5px;
    background-color:#e2e3f0;
    margin-top:1.5rem;

}

.status{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding:2rem 1.5rem 2rem 0.5rem;
    gap:1.6rem;
}
.status-box{

    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
}
