

                        /*General styles*/

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #e2e3f0;
    --color-dark: #363949;
    --color-light: rgb(227, 228, 241);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --borade-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin:0;
    padding:0;
    outline:0;
    outline:0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 14px;
}


            /*Body and Container*/

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    color:#2b2b30;

}

h2 {
    font-size: 1.4rem;
    color:#2b2b30;

}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

.container {
    display: grid;
    grid-template-columns: 14rem auto 23rem;
    grid-gap: 1.8rem;
    width: 96%;
    margin: auto;
}
                 /*Left side Nav*/

aside {
    height: 100vh;
}

.topl {
    display: flex;
    margin-top: 1.4rem;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    display: flex;
    gap: 0.8rem;
}

.logo img {
    width: 2rem;
    height: 2rem;
}

.tor {
    color: var(--color-danger);
}

.close {
    display: none;
}

.side-bar {
    margin-top: 3.1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 96vh;
}

.side-bar a {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--color-info-dark);
    font-weight: 500;
    height: 3.7rem;
    transition: all 0.3s;
    padding-left: 1.8rem;
}


aside h3 {
    font-weight: 500;
    font-size: 0.8rem;
}

.side-bar a span {
    font-size: 1.8rem;
}

.logout {
margin-top: 5rem;
}

#nums {
    font-size: 0.8rem;
    border-radius: 20%;
    background-color: #ff7782;
    padding: 0.14rem 0.7rem;
    color: white;
}

#active {
    background: var(--color-light);
    color: var(--color-primary);
    border-left:0.4rem solid var(--color-primary);
    transform:none;
}


.side-bar a:hover {
    transform: translateX(1rem);
    color: var(--color-primary);
}

                       /*Main Section*/


.main-section{
    margin-top: 1.5rem;
}


.my-calendar{
    width:11rem;
    height:2rem;
    border-radius: 5px;
    background-color:#e2e3f0;
    margin:1rem 0;
}

.status{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.5rem;
    padding-bottom:2rem;
}
.status-box{

    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    transition: all 0.3s;

}
.status-box span {
    padding:0.6rem;
    border-radius:50%;
    color:white;
    font-weight: bold;
    font-size:1.8rem;
}

.one span{
    background-color:var(--color-primary) ;
}
.two span{
    background-color: var(--color-danger);
}
.three span {
    background-color: var(--color-success);
}

.middle{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.progress{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content:center;
}
.progress p{
    position: absolute;
    font-size:0.9rem;
    font-weight: bold;
    
}

.progress svg{
    width:100px;
    height:100px;
    fill:none;
    stroke:var(--color-primary);
    stroke-width:15%;
    display:flex;
    justify-content: center;
    align-items:center;    
    stroke-linecap: round;

}
.total{
    color:#2b2b30;
}

.total h3{
    padding-bottom: 0.5rem;
    font-size:1.1rem;
    
}

.info{
    color:var(--color-info-dark);
    font-size:0.9rem;
}

.status-box:hover{
    box-shadow: none;

}

.mid-link{
    text-align: center;
    margin: 1rem 0rem;
    color: var(--color-primary-variant)}
.mid-link a {
    color: var(--color-primary)}

.three svg{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

.two svg{
    stroke-dashoffset:2;
    stroke-dasharray: 150;

}
.one svg{
    stroke-dashoffset: 80;
    stroke-dasharray: 270;
}

table{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding:var(--card-padding);
    box-shadow:var(--box-shadow);
    width:100%;
    text-align: center;
    transition: all 0.5s;

}

table:hover{
    box-shadow: none;
}
.primary{
    color:var(--color-primary)
}

table td{
    height:2rem;
    width:3rem;
    border-bottom: 1px solid lightgrey;
    padding:0.5rem 0rem;
    color:var(--color-info-dark)
}

            /* Right side Menu styles*/

.top{
    display:flex;
    justify-content: flex-end;
    margin-top: 1rem;
  
 }


.top span {
    font-size: 1.3rem;
    padding:0.5rem;
    color:White;
    height:2.5rem;
}

.dark {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color:#e2e3f0;

}
.light{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color:var(--color-primary);


 
}
.user{
   display:inline-flex;
   flex-direction: column;
   position: relative;
   right:0px;
   margin-left:2rem;
}
.user img {
    border-radius: 50%;
    width:3rem;
    height:3rem;
}
.people{
    background: white;
    padding: var(--card-padding);
    border-radius:var(--card-border-radius);
    gap:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:2rem;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    transition:all 0.5s;
}
.people:hover {
    box-shadow: none;
}
.person .text{
    margin:0;
    padding:0;
}
.person{

    display:flex;
    gap:1rem;
}
.person img{
    border-radius: 50%;
    width:5rem;
    height:3rem;
    
}
.cart{
    display:flex;
    background: white;
    border-radius:1rem;
    justify-content: space-around;
    align-items: center;
    margin-top:1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.7s;
    padding:1.5rem;
}
.cart:hover{
    box-shadow: none;
}
.cart span{
    padding:0.6rem;
    border-radius:50%;
    color:white;
    font-weight: bold;
    font-size:1.8rem;
}
.order span{
    background-color: var(--color-primary);
}
.offline span{
    background-color:var(--color-danger);
}
.customers span{
    background-color: var(--color-success);
}
.up{
    color:var(--color-success);
    font-weight:bold
}
.info h4 {color:black}



.down{
    color: var(--color-danger);
    font-weight:bold
}

.new{

    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.7s;
    padding:1.5rem;
    border:2px dashed var(--color-primary);
    border-radius:0.8rem;
    margin-bottom: 1rem;

}
.header {
    display:none;
};
.container span{
    font-weight:bold;
    font-size: 5rem;
}

@media only screen and (max-width:600px){

    aside{
        display: none;
    }
    .container {
        display:flex;
        flex-direction: column;
        width:100vw;
       
    }
    .main-section{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width:96%;
        margin:auto;
    }
    .status-box{
      padding:2rem 4rem;
    }
    .status{
        width:100%;
        display: flex;
        flex-direction: column;
        margin:auto;
    }
  .carts {
    width:100%;
    text-align: left;
    margin-top: 2rem;
  }

  .person{
   gap:0.5rem;
  }
  .person img {
    width:3.5rem;
    height:3.5rem;
  }

.header{
    display:flex;
    align-items: center;
    text-align: left;
    background:white;
    height:5rem;
    padding:1rem;
    box-shadow: var(--box-shadow);
}

.header span {
    font-weight: bold;
    font-size: 2.5rem;
}

#userimg{
    border-radius: 50%;
    width:3rem;
    height:3rem;
}

.theme span {
    font-size: 1.3rem;
    padding:0.5rem;
    color:White;
    height:2.5rem;
}

}